/* CONFIGURAÇÃO GERAL */

body{
margin:0;
font-family: Arial, Helvetica, sans-serif;
background:#ffffff;
}


/* HEADER */

header{
background:#8B4513;
color:white;
text-align:center;
padding:50px;
}

header h1{
margin:0;
font-size:40px;
}

header p{
font-size:20px;
margin-top:10px;
}


/* BANNER */

.banner{
height:450px;

background-image:url("imagens/banner.jpeg");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

color:white;
font-size:40px;
text-align:center;
}


/* SEÇÕES */

section{
padding:50px;
text-align:center;
}

h2{
margin-bottom:40px;
font-size:32px;
}


/* PRODUTOS */

.produtos{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
width:250px;
border:1px solid #ddd;
border-radius:10px;
padding:20px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}


/* IMAGENS DOS PRODUTOS */

.card img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
}


/* SOBRE */

.sobre{
background:#f5f5f5;
}


/* FOOTER */

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}


/* BOTÕES FLUTUANTES */

.botoes-flutuantes{
position:fixed;
bottom:20px;
right:20px;

display:flex;
flex-direction:column;
gap:15px;

z-index:999;
}

.botoes-flutuantes a{
display:block;
width:50px;
transition:0.3s;
}

.botoes-flutuantes img{
width:50px;
}


/* EFEITO AO PASSAR O MOUSE */

.botoes-flutuantes a:hover{
transform:scale(1.15);
}

/* PARA USAR NO CELULAR */

@media (max-width: 768px){

header{
padding:30px;
}

header h1{
font-size:28px;
}

header p{
font-size:16px;
}

.banner{
height:250px;
font-size:24px;
padding:20px;
}

section{
padding:30px 20px;
}

h2{
font-size:24px;
}

/* PRODUTOS */

.produtos{
flex-direction:column;
align-items:center;
}

.card{
width:90%;
max-width:350px;
}

/* BOTÕES FLUTUANTES */

.botoes-flutuantes{
bottom:15px;
right:15px;
}

.botoes-flutuantes img{
width:45px;
}

}